<div class="platform-popup" style="display: none">
  <div class="mask-layer">
    <div class="hand">
      <img src="/image/hand.png">
    </div>
    <div class="pop-contain">
      <i class="close"></i>
      <div class="pop-outerboder">
        <div class="pop-innerboder">
          <p class="st1">互金跟投APP下载</p>
          <span class="st2">去各大应用商店搜索吧</span>
          <div>
            <div class="pop-qrcode">
              <img class="logo" src="/image/pop-logo.png">
              <img id="pop-qrcode-gen" class="qrcode" scr=""></img>
              <div id="gen-qrcode-canvas"  style="display:none"></div>
            </div>
          </div>
          <ul>
            <li>
              <img src="/image/pop-icon1.png">
              <span>汇集最专业的大咖</span>
            </li>
            <li>
              <img src="/image/pop-icon2.png">
              <span>解读网贷最新政策</span>
            </li>
            <li>
              <img src="/image/pop-icon3.png">
              <span>深度剖析网贷平台</span>
            </li>
            <li>
              <img src="/image/pop-icon4.png">
              <span>提供超强投资攻略</span>
            </li>
          </ul>
          <a href="{{ landingPageQr }}" class="download" target="_blank">点击下载</a>
        </div>
      </div>
    </div>
    <!-- <a class="download" href="https://android.myapp.com/myapp/detail.htm?apkName=com.p2pfellow" target="_blank"></a>
    <img src="/image/popup-img-m.png" alt="互金跟投APP下载"> -->
  </div>
</div>