<div class="scroll-nav">
  <div class="scroll-nav-wrap">
    <div class="scroll-nav-wrap-relative">
      <div class="icon"><i></i></div>
      <div class="scroll-nav-contain">
        <ul class="clearfix">
          <li><a href="#xxplzz">信披</a></li>
          <li><a href="#zjjp">简评</a></li>
          <li><a href="#zjsdcp">深评</a></li>
          <li><a href="#ptylzz">舆情({{ptylzz.displayTotal}})</a></li>
          <li><a href="#ptwd">问答({{ptwd.displayTotal}})</a></li>
          <li><a href="#tydp">点评({{tydp.displayTotal}})</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>