{# m版首行 #}
<div class="m-head pc-hidden clearfix">
  <a class="brand" href="{{wwwOrigin + '/'}}">
    <img src="/image/logo_m.png" alt="互金跟投" />
    <span>互金跟投</span>
  </a>

  <div class="right">
    <div class="search clearfix">
      <img src="/image/icon_search.png" alt="search" />
      <form action="{{ wwwOrigin + '/search/' }}" method="get">
        <input name="key" type="text" placeholder="请输入关键词" />
      </form>
    </div>
    <a href="{{ wwwOrigin + '/sitemap.html' }}">
      <img class="more" src="/image/nav.png" alt="more" />
    </a>
  </div>
</div>