{% extends '../base/base.njk' %}

{% block title %}关于我们{% endblock %}

{% block extraCss %}
  {%- include "./about.css" -%}
{% endblock %}

{% block content %}
  <div class="pc-block m-block">
    <div class="plate-head clearfix">
      <h2>关于我们</h2>
    </div>

    <div class="about">
      <p>互金跟投，原名叫P2P跟投，于2016年7月16日由理财资深达人文斯、NP叫兽等持有特许金融分析师(CFA)、国家理财规划师、国际知名投行投资顾问的金融领域大V发起成立的公益型理财问答、评测和问答社区平台。 </p>
      <p>发迹于民间大V，艰辛创业2年有余，已然成为行业一线自媒体！ </p>
      <p>在成立之初，P2P跟投以公益型理财问答为主要的服务方式，受到投资用户的热烈欢迎。不到1年时间，P2P跟投的微信公众号+APP的用户已经突破10W，在新媒体领域，更是成为垂直行业的自媒体大号。 </p>
      <p>2017年10月底， P2P跟投正式进行品牌升级，改名为“互金跟投”，并注册公司进行运营，由彭伟担任公司CEO，彭伟曾是阿里巴巴资深运营专家、欢聚时代(YY Inc,美股上市公司)运营总监，并有多次创业经验。 </p>
      <p>2018年初，阿里巴巴前技术专家陈邦伟、黄添才等作为合伙人加入到技术管理团队，开始了大数据/AI方面的研发工作。互金跟投目前已经获得阿里巴巴系天使投资人数百万的种子轮投资，互金跟投CEO彭伟及团队成员大部分来自阿里、腾讯、PPmoney、YY欢聚时代等。</p>
    </div>
  </div>

{% endblock %}