{# 平台详情 - 跟投优选 #}
<div class="pc-block m-block gtyx">
  <div class="plate-head clearfix">
    <h2>跟投优选</h2>
    <a class="more" href="{{ hyxw.more }}">查看更多&gt;</a>
  </div>
  <div class="first-row">
    <span class="title">新手专享自助投</span>
    <span class="tag">银行存管</span>
    <span class="tag">可用卡券</span>
  </div>
  <div class="number-row clearfix">
    <span class="left">
      <span class="num">{{- '16.00' -}}<span class="symb">%</span></span>
      <span  class="num"><span class="plus symb">+</span>{{- '60' -}}<span class="symb">%</span></span>
    </span>
    <span class="right">
      {{- '15' -}}
      <span class="danwei">天</span>
    </span>
  </div>
  <div class="last-row clearfix">
    <span class="left elli-1">{{ '标的收益+首投加息' }}</span>
    <span class="right elli-1">{{ '投资期限' }}</span>
  </div>
</div>