<div class="pc-block m-block">
  <div class="plate-head clearfix">
    <h3>推荐阅读</h3>
  </div>
  <ul class="news-list">
    {% for item in recomd %}
      <li class="clearfix">
        <a class="left" href="{{ item.href }}">
          <img onerror="this.src='/image/default.png'" src="{{ item.img }}" alt="{{ item.title }}" />
        </a>
        <div class="right">
          <p><strong><a href="{{ item.href }}">{{ item.title | safe }}</a></strong></p>
          <p>{{ item.intro | safe }}</p>
          <div>
            {{ item.time }}
            {% for label in item.labels %}
              <a href="{{ label.href }}">{{ label.inner }}</a>
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>