<footer>
  <div class="clearfix">
    <div class="footer-note">
      <div class="four">
        <a href="{{ footer.about }}" rel="nofollow">关于我们</a>
        |
        <a href="{{ footer.law }}" rel="nofollow">免责声明</a>
        |
        <a href="{{ footer.contact }}" rel="nofollow">联系我们</a>
        |
        <a href="{{ footer.sitemap }}">网站地图</a>
      </div>
      <p>温馨提示：互金跟投仅提供平台服务，所有产品及展示信息均由发行方提供。理财属于投资行为，不等同于银行存款。投资有风险，购买需谨慎。</p>
      <p>Copyright © 2018 51hjgt.com 互金跟投网 版权所有 不允许任何形式的转载以及拷贝，违者必究。</p>
      <p><a href="http://www.miitbeian.gov.cn/" rel="nofollow">粤ICP备18019091号-3</a></p>
    </div>

    <div class="footer-user">
      <div class="text clearfix">
        <div>
          <p>微信公众号</p>
          <p><img src="/image/choose.png" />解读网贷最新政策</p>
          <p><img src="/image/choose.png" />深度剖析网贷平台</p>
          <p><img src="/image/choose.png" />提供超强投资攻略</p>
        </div>
        <div>
          <img src="/image/qrcode_b.png" alt="qrcode" />
        </div>
      </div>
      <p>请搜索并关注微信公众号 <span>互金跟投（微信ID：hjgentou）</span></p>
    </div>
  </div>
</footer>