{% extends '../base/base.njk' %}

{% block title %}免责声明{% endblock %}

{% block extraCss %}
  {%- include "./law.css" -%}
{% endblock %}

{% block content %}
  <div class="pc-block m-block">
    <div class="plate-head clearfix">
      <h2>免责声明</h2>
    </div>

    <div class="law">
      <p>声明：</p>
      <p>若要访问互金跟投，您需完全接受本协议中所包含的条款、条件和互金跟投即时刊登的通告，并且遵守有关互联网的相关法律、规定与规则。一旦您访问、使用了互金跟投，即表示您同意并接受了所有该等条款、条件及通告。</p>
      <br/>
      <p>本网站信息版权：</p>
      <p>未经合法权利人的书面许可，任何人严禁在本网站展示产品图片。任何未经授权便在本网站上使用该图片都可能违反国际法、商标法、隐私权法、通讯、通信等法律法规。</p>
      <p>浏览者可以下载本网站上显示的资料，但这些资料只限用于个人学习研究使用，不得用于任何商业用途，无论是否在资料上明示，所有此等资料都受版权法的法律保护。浏览者没有获得百银网或各自的版权所有者明确的书面同意的，不得分发、修改、散布、再使用、再传递或使用本网站的内容用于任何公众商业用途。</p>
      <br/>
      <p>意见及信息效力：</p>
      <p>本网站表述的任何意见均属于作者个人意见，并不代表互金跟投的意见。本网站所提供的信息，只供参考之用。本网站不保证信息的准确性、有效性、及时性和完整性。本网站及其雇员一概毋须以任何方式就任何信息传递或传送的失误、不准确或错误，对用户或任何其他人士负任何直接或间接责任。</p>
      <br/>
      <p>免责声明：</p>
      <p>互金跟投在此特别声明，对如下事宜不承担任何法律责任：</p>
      <p>(一)在法律允许的范围内，本网站不承担用户或任何人士就使用或未能使用本网站所提供的信息或任何链接所引致的任何直接、间接、附带、从属、特殊、惩罚性或惩戒性的损害赔偿。</p>
      <p>(二)本网站不以盈利为目的，所有信息都是免费的。站内所有广告涉及到的所有链接，均与本网站无任何关系，请网民自行判断真假，投资有风险，谨防网上股票预测诈骗以及非法黄金诈骗。如这些信息对投资者造成任何损失，本网站不承担任何责任。</p>
    </div>
  </div>

{% endblock %}