{% extends '../base/base.njk' %}

{% block title %}{{ currentMonth }}P2P网贷平台排名_互金跟投{% endblock %}
{% block keywords %}网贷平台排名,P2P网贷平台排名{% endblock %}
{% block description %}{{ currentMonth }}P2P网贷平台排名是用以反映网贷平台用户关注度的榜单，是根据用户在互金跟投网站的多种行为，综合多项数据进行分析得出的排名趋势。{% endblock %}

{% block extraCss %}
  {%- include "./rank.css" -%}
{% endblock %}

{% block content %}
  {% include "../components/pc_hot_search/pc_hot_search.njk" %}

  <div class="pc-block m-block">
    <p class="please">请选择排行条件：</p>
    <table class="filter">
      <tbody>
        {% for item in filterList %}
          <tr>
            <td>{{ item.name }}</td>
            <td class="others">
              {% for f in item.filters %}
                <a{% if f.isCurrent %} class="current"{% endif %} href="{{ f.href }}">{{ f.name }}</a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="note pc-block">
    <h1><span>{{ currentMonth }}</span>P2P网贷平台排名</h1>
    <p>互金跟投P2P网贷平台排行榜是用以反映平台在过去30天内的用户关注度的榜单。我们根据用户在互金跟投网站的多种行为，综合多项数据进行分析得出排名，在某种程度上反映出近阶段P2P网贷平台的变化趋势。</p>
  </div>

  <div class="ranks pc-block m-block clearfix">
    {% for item in scoreRanks %}
      <div>
        <h2>评级{{ item.score }}网贷平台排名</h2>
        <table class="ordered-list">
          <thead class="m-hidden">
            <tr>
              <th>排名</th>
              <th>投资平台</th>
              <th>平均年化率</th>
            </tr>
          </thead>
          <tbody>
            {% for p in item.items %}
              <tr>
                <td><span>{{ loop.index }}</span></td>
                <td><a href="{{ p.href }}">{{ p.name }}</a></td>
                <td class="m-hidden"><a href="{{ p.href }}">{{ p.rebate }}%</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div><a href="{{ item.more }}">查看详情</a></div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block inlineJs %}
  {% include "./rank.in.wp.js" %}
{% endblock %}